.button {
	background: #92E392;
	border: hidden;
	padding: 1em;
}

.player {
	background-color: #006633;
	color: #fff;
	font-size: 2em;
	padding: 1em;
	width: 100%;
}

.player-attribute {
	td {
		color: #000;
		font-size: 0.8em;
		line-height: 1.2em;
		padding: 0.2em;
	}
}

.players {
	width: 40em;
}

.submit {
	background: #aaa;
}

.players {
	background: #006633;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	color: #eee;
	padding: 0.5em;

	a {
		color: #fff;
		&:hover {
			color: #ccc;
			background-color: #006633;
		}
	}
}

.toolbar {
	background: #006633;
	margin: 0;
	padding: 2em;
}