.button {
	background: #92E392;
	border: hidden;
	padding: 1em;
}

.button-submit {
	background: #AAA;
}

.player {
	background-color: #CCC;
	font-size: 2em;
	padding: 1em;
	width: 100%;

	td {
		font-size: 0.8em;
		line-height: 1.2em;
		padding: 0.2em;
	}
}

.players {
	background: #006633;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	color: #EEE;
	padding: 0.5em;

	a {
		color: #FFF;
		&:hover {
			color: #CCC;
		}
	}
}

.toolbar {
	background: #006633;
	margin: 0;
	padding: 2em;

	a {
		color: #000;
		&:hover {
			background-color: #33C77D;
		}
	}
}

.update-box {
	display: table;
	margin: auto;
	vertical-align: middle;

	label {
		vertical-align: middle;
	}

	select {
		background-color: #FFF;
		height: 3em;
	}
}